*{
    margin: 0;
    padding: 0; 
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0a1010;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(pics/Background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 190px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #1D71B8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} 
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 21px;
}
.header-text h1{
    font-size: 45px;
    margin-top: 20px;
}
.header-text p span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 190%;
    font-weight: 800;
    color: #1D71B8;
}
.header-text h1 span{
    font-size: 120%;
    color: #1D71B8;
}
/* ---------------about---------------- */
#about{
    padding: 80px 0;
    color: #c1c1c1;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-titel{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
  
.tab-titles{
    display: flex;
    margin: 30px 0 30px;
    color: #ff6666;
}
.tab-links{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;  
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff6666;
    font-size: 14px 0;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block
}
/* ---------------------services------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 50px;
    margin-top: 40px;
}
.services-list div{
    background: #373737;
    padding: 25px;
    font-weight: 600;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s ease;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #5387ff;
    font-size: 13px;
    margin-top: 30px;
    display:inline-block;
}
.services-list div p{
    font-size: 16px;
    font-weight: 300;
    margin: 10px;
}
.services-list div:hover{
    color: #000000;
    background: #c6ef6d;
    transform: translateY(-30px);
}
/* ----------portfolio----------- */
#portfolio{
    padding: 50px 50px;
}
.h1{
    margin-left: 200px;
    font-size: 200px;
}
.card{
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    
}
.card1{
    width: 230px;
    height: 368px;
    background-image: url(pics/01\ .jpg);
}
.card5{
    width: 230px;
    height: 128px;
    background-image: url(pics/02\ .jpg);
}
.card3{
    width: 230px;
    height: 228px;
    background-image: url(pics/03\ .jpg);
}
.card4{
    width: 230px;
    height: 219px;
    background-image: url(pics/04\ .jpg);
}
.card2{
    width: 230px;
    height: 322px;
    background-image: url(pics/05\ .jpg);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #1D71B8;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.20s ease;
}
.btn:hover{
    background: #1D71B8;
    border: #1D71B8;

}
/*--------contact------------*/
.contact-left{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff6666;
    transition: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #1D71B8;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #27313c;
    font-weight: 500;
    margin-top: 20px;
}
/*-------------------------css for small screens----------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(pics/phone.background\ 1.jpg);
    }
    .header-text{
        margin-top: 10%;
        font-size: 14px;
    }
    .header-text h1{
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #2000459b;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-titel{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
} 
